<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escuch.ar</title>
    <link rel="stylesheet" href="../static/styles/registrarse.css">
    <link rel="stylesheet" href="../static/styles/radio.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/favicon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+Lao+Looped:wght@100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="background"></div>

    <header>
        <section class="nav-section">
            <a href="/">
                <h1 class="logo"> Escuch.ar </h1>
            </a>
            <nav class="main-nav">
                <ul>
                    <li id="registrarse"> <a href="./registrarse"> Registrarse </a> </li>
                    <li id="resenas"> <a href="./resenas"> Reseñas </a></li>
                    <li id="discos"> <a href="./discos"> Discos </a> </li>
                </ul>
            </nav>
        </section>
    </header>

    <div class="content" id="content">
        <div class="register" id="register">
            <form action="/registro-exitoso" autocomplete="off" method="post", onsubmit="javascript:validForm()">
                <input type="text" id="nombre" name="nombre" placeholder="Apellido y Nombre">
                <input type="email" id="email" name="email" placeholder="Correo electrónico">
                <input type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
                <input type="radio" name="radioMusic" id="radioMusic">
                <label for="radioMusic">Músico</label>
                <input type="radio" name="radioMusic" id="radioListen" checked>
                <label for="radioListen">Oyente</label><br>
                <select name="genprefer" id="genprefer">
                    <option value="">Elija su Género Musical preferido</option>
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Clasicos-80-90">Clasicos 80/90</option>
                    <option value="Electronica">Electrónica</option>
                    <option value="rb">R&B</option>
                    <option value="Metal">Metal</option>
                    <option value="hiphop">Hip Hop - Rap</option>
                    <option value="Jazz">Musica Orquestal</option>
                    <option value="Funk">Funk - Soul</option>
                    <option value="Jazz">Jazz</option>
                </select>
                <div class="avatar">
                    <img src="../static/img/avatar.png" alt="avatar" id="imgAvatar">
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                    <label for="avatar">Cambiar foto</label>
                </div>

                <input type="submit" id="registrar" name="registrarse" value="Registrate">
            </form>
        </div>
    </div>

    <div id="radio-panel" class="panel-radio">
        <select name="genero" class="seleccionar-emisora">
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="80'">80'</option>
            <option value="Electronica">Electronica</option>
            <option value="R&B">R&B</option>
            <option value="Metal">Metal</option>
            <option value="Hip Hop - Rap">Hip Hop - Rap</option>
            <option value="Musica Orquestal">Musica Orquestal</option>
            <option value="Funk - Soul">Funk - Soul</option>
            <option value="Jazz">Jazz</option>
        </select>
        <img id="imagen-de-genero" src="{{url_for('static', filename='Rock.jpg')}}" alt="imagen-genero" class="imagen-panel">
        <audio controls class="reproductor-radio" id="radio">
            <source src="http://nashe1.hostingradio.ru/rock-128.mp3" type="audio/mp3">
            Tu navegador no soporta el elemento de audio.
        </audio>
        <button id="boton-radio-panel" class="boton-click" onclick="togglePanel()"> > </button>
    </div>
    <script src="../static/js/radio.js" defer></script>

    <footer>
        <div></div>
    </footer>
    <script src="../static/js/registro.js"></script>
</body>

</html>